html, body {
  padding: 0;
  margin: 0;
  background-color: #1a1a1a;
}

/* BANNER STYLES */
#banner {
  height: 100vh;
  background-image: url('/img/header-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;




}


header {

  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}


.logo {
  position: absolute;
  height: 50px;
  width: 50px;
  padding-left: 20px;
  padding-top: 20px;

}






.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

}

.content h1 {
  color: white;
  font-size: 1.7em;


}





.bottom-tag {

margin-top: 0;
}

.menu-down {
  z-index: 100;
  color: white;
  margin: 0;
  padding-top: 200;


}

/*START OF SERVICES CSS */

.services h1 {
  margin: 0;
  font-size: 1.7em;
  padding: 60px 0;
}

.service h4 {
  font-size: 1em;
  color: dodgerblue;
}

.service p {
  margin-bottom: 30px;
}



.services {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;


}

.service  {
  color: white;
  width: 70%;
  margin: 0 auto;



}

.service-image {
  height: 20%;
  width: 20%;
  margin-left: 40%;
  padding-bottom: 30px;

}

/* START OF TEAM CSS */

.team-section {
  background-color: #333333;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.member {
  flex-wrap: wrap;
}

.team-section h1 {
  margin: 0;
  font-size: 1.7em;
  padding: 40px 0;

}

.member img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.member p {
  font-style: italic;
}

.member {
  padding-bottom: 30px;
}

/* START OF WORK SECTION CSS*/

.work-section {
  background-color: #1a1a1a;
}

.work-section h1 {
  color: white;
  margin: 0 auto;
  font-size: 1.7em;
  padding: 40px 0;
}

/* THIS IS THE START OF MY IMAGE FILTER ATTEMPT FOR MOBILE */
/* =========================================================
   =========================================================
   =========================================================
    =========================================================
     =========================================================
      =========================================================
      */

.work-section {
  color: white;
  width: 70%;
  margin: 0 auto;
  text-align: center;

}

.category_container {
  width: 70%;
  padding-bottom: 40px;
  margin: 0 auto;
}

.category_item {
  display: inline;
  color: white;
  cursor: pointer;
  margin: 0 30px;
  padding: 0 10px;

}


.block_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.block_container img {
  width: 200px;
  height: 200px;
  padding: 5px;

}

.filter_item {
  float: left;
  transition: all 0.4s ease-in-out;
}

.hide {
  transform: scale(0);
  width: 0;
  padding: 0;
  transition: all 0.4s ease-in-out;
}






@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);
body {
  background: #F5F5F5;
}

.container {
  position: absolute;
  width: 100%;
  heigh: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container p {
  font-size: 20px;
}
.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #FF5252;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
.container a:after {
  content: '';
  position: absolute;
  background: #FF5252;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}
.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}

h1 {
  position: relative;
  text-align: center;

}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: white;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;

  top: -10px;
  left: -20px;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 1px;
}
.button_container span:nth-of-type(3) {
  top: 12px;
}

.overlay {
  position: fixed;
  background: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* FIX BG COLOUR FOR WHOLE PAGE */
body {
  background-color: #1a1a1a;
}

/* THIS IS THE STYLES FOR IPAD AND DESKTOP */



@media (min-width: 600px) {

  #banner   {
    height: 100vh;

    background-image: url('/img/header-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;

  }
}
